<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header(param1)">
        <header>
            <a href="/" class="logo">aol</a>
            <nav class="menu">
                <ul>
                    <li><a href="/" th:style="${param1.equals('home') ? 'font-weight:bolder;' : ''}">Home</a></li>
                    <li><a href="/board/1" th:style="${param1.equals('board') ? 'font-weight:bolder;' : ''}">Board</a></li>
                    <li><a href="#" th:style="${param1.equals('contents2') ? 'font-weight:bolder;' : ''}">Contents2</a></li>
                    <li><a href="#" th:style="${param1.equals('contents3') ? 'font-weight:bolder;' : ''}">Contents3</a></li>
                    <li><a href="#" th:style="${param1.equals('contents4') ? 'font-weight:bolder;' : ''}">Contents4</a></li>
                </ul>
            </nav>
        </header>
    </th:block>
</html>