<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <header>
            <a href="/" class="logo">aol</a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/board/1">Board</a></li>
                    <li><a href="#">Content2</a></li>
                    <li><a href="#">Content3</a></li>
                    <li><a href="#">Content4</a></li>
                </ul>
            </nav>
        </header>
    </th:block>
</html>