@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/*공통, body*/
body
{
    width: 1200px;
    margin: auto;
}
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*header*/
.logo
{
    width: 20%;
    float: left;
    text-align: center;
    font-size: 2em;
    border: 1px solid #262626;
}
.menu
{
    width: 60%;
    float: right;
}
.menu > ul
{
    display: grid;
    padding: unset;
}
.menu > ul > li
{
    float: left;
    list-style: none;
    grid-row: none;
    text-align: center;
}